*{
    margin: 0;
    padding: 0;
}
th,td{
    padding: 20px;
}

.a{
   background-color: #000000;
   color: #f2ff05;
}
tr{
    font-family: Arial;
}
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 15px;
}
h1{
    margin-top: 20px;
}
.edit{
    background-color: black;
    color: #f2ff01;
}
.delete{
    background-color: rgb(255, 0, 0);
}
.container{
    width: 40%;
    margin: 0px auto 0px auto;
}
